@import 'katex/dist/katex.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  :root[data-theme='light'] {
    color-scheme: light;
    /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
    --theme-bg: 0deg 0% 98%;
    --theme-link: 172deg 18% 41%;
    --theme-text: 203deg 11% 15%;
    --theme-accent: 351deg 66% 48%;
    --theme-accent-2: 0deg 0% 7%;
    --theme-quote: 351deg 66% 48%;
    --h2-color: #2e7d32;
    --h3-color: #388e3c;
    --h4-color: #43a047;
    --h5-color: #4caf50;
    --h6-color: #66bb6a;
    --md-img-filter: invert(0) hue-rotate(0deg);
  }

  :root[data-theme='dark'] {
    color-scheme: dark;
    --theme-bg: 0 0% 0%;
    --theme-link: 330 49% 67%;
    --theme-text: 220 3% 79%;
    --theme-accent: 111 100% 54%;
    --theme-accent-2: 0 0% 93%;
    --theme-quote: 102 100% 86%;
    --h2-color: #81c784;
    --h3-color: #a5d6a7;
    --h4-color: #c8e6c9;
    --h5-color: #e8f5e9;
    --h6-color: #f1f8e9;
    --md-img-filter: invert(1) hue-rotate(100deg);
  }
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

.md_image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  filter: var(--md-img-filter);
}


.scroll-progress-bar{
  background-color: hsl(var(--theme-accent));
}

/* Estilo para el enlace activo en el TOC */
.toc a[data-active="true"] {
  color: hsl(var(--theme-accent));
}

/* Estilos para los encabezados */
.prose h1 {
  font-size: 1.953rem !important; /* 31px */
  margin-top: 2em;
  margin-bottom: 1em;
  color: var(--h2-color) !important;
}

.prose h2 {
  font-size: 1.563rem !important; /* 25px */
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  color: var(--h3-color) !important;
}

.prose h3 {
  font-size: 1.25rem !important; /* 20px */
  margin-top: 1.25em;
  margin-bottom: 0.625em;
  color: var(--h4-color) !important;
}

.prose h4 {
  font-size: 1.125rem !important; /* 18px */
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: var(--h5-color) !important;
}

.prose h5 {
  font-size: 1rem !important; /* 16px */
  margin-top: 0.875em;
  margin-bottom: 0.4375em;
  color: var(--h6-color) !important;
}

.prose h6 {
  font-size: 0.875rem !important; /* 14px */
  margin-top: 0.75em;
  margin-bottom: 0.375em;
  color: var(--h6-color) !important;
}