---
import PageLayout from '../layouts/PageLayout.astro';

const meta = {
  description: "I'm a starter theme for Astro.build",
  title: 'About',
};
---

<PageLayout meta={meta}>
  <h1 class='title mb-6'>About</h1>
  <div class='prose prose-sm prose-cactus max-w-none'>
    <p>
      Hi, I’m a Another dev. I’m really interested on Maths, Physics and
      Computer Science, currently I'm a Physics student at the <a
        href='https://www.udea.edu.co/'>Universidad de Antioquia</a
      > and a FullStack Engineer at <a href='https://www.kolektivo.co/'
        >Kolektivo Labs</a
      >.
    </p>
  </div>
</PageLayout>
