---
export const prerender = true; // Asegura que esta página se renderice estáticamente
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; URL=/blog" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/blog">/blog</a>...</p>
  </body>
</html>